body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 700px;
    display: flex;
    position: relative;
    background-color: black;
    overflow: hidden;  
}




.uno{
    clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
    height: 100%;
    width: 35%;    
    overflow: hidden;
    position:absolute;
    left: 0;   
    text-align: center;
    display: block;
    
   
}

.uno img{       
    width: 100%;
    height: 100%;
    opacity: 80%;
    transition: transform 0.3s ease;
    
}

.dos{
    clip-path: polygon(42% 0%, 90% 0%, 43% 100%, 0% 100%);
    height: 100%;
    width: 50%;
    position:absolute;    
    left: 16%;
    overflow: hidden;
    text-align: center;
    
    

}

.dos img{
    width: 100%;
    height: 100%;
    opacity: 80%;
    transition: transform 0.3s ease;
    

}

.tres {
    clip-path: polygon(47% 0%, 94% 0%, 45% 100%, 0% 100%);
    height: 100%;
    width: 50%;
    position:absolute;    
    left: 40%;
    overflow: hidden;
    text-align: center;
}

.tres img {
    width: 100%;
    height: 100%;
    opacity: 80%;
    transition: transform 0.3s ease;
    
}
.cuatro{
    clip-path: polygon(71% 0%, 70% 0%, 100% 0%, 100% 100%, 0% 100%);    
    height: 100%;
    width: 35%;
    position:absolute;
    right: 0;
    overflow: hidden;
    text-align: center;
}

.cuatro img{
    width: 100%;
    height: 100%;
    opacity: 80%;
    transition: transform 0.3s ease;
   
}

.menu{
    background-color: black;
    height: 150px;
    color: white;
    display: flex;
    justify-content:space-between ;
    align-items: center;
  }

  .menu img{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 87px;
    width: 150px;
  }

  .menu ul {
    list-style: none;
    display: flex;
    gap:60px;
    font-size: 30px;
    margin-right: 130px;
  }

  .uno img:hover,.dos img:hover,.tres img:hover,.cuatro img:hover{
    opacity: 100%;
    transform: scale(1.04);
  }

  .uno p{
    position: absolute;
    z-index: 10;
    color: red;
    font-size: 40px;
    left: 20%;
    display: none;
  }

  .dos p {
    position: absolute;
    z-index: 10;
    color: red;
    font-size: 40px;
    left: 50%;
    display: none;
  }

  .tres p {
    position: absolute;
    z-index: 10;
    color: red;
    font-size: 40px;
    left: 50%;
    display: none;
}

.cuatro p {
    position: absolute;
    z-index: 10;
    color: red;
    font-size: 40px;
    left: 70%;
    display: none;
}

.uno img:hover ~ .displayh1,
.dos img:hover ~ .displayh1,
.tres img:hover ~ .displayh1,
.cuatro img:hover ~ .displayh1 {
  display: block;
}
 

